p{
    display: flex;
    padding: 2px;
    justify-content: center;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 0px;
    margin: 0px;
}

output{
    display: flex;
    justify-content: center;
}
div {
    display: flex;
    padding: 2px;
    justify-content: center;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-weight: bold; */
    border: 0px;
    margin: 8px;
}

h2 {
    display: flex;
    justify-content: center;
    color: rgb(14, 14, 14);
    margin-top: 16px;
    margin-bottom: 0px;
    font-size: 24px;
}

#info {
    background: #c5c5ca;
    border-radius: 5px;
    border: #1d1d1d solid 2px;
}

#info p {
    margin: 8px;
    margin-right: 0px;
    padding-right: 0px;
    border-right: 0px;
    font-weight: bold;
    font-size: 20px;
}

#info div{
    margin-top: 8px;
}

html {
    background-color: #aaaaaa7c;
}

/* button {
    border-radius: 4px;
    color: #c71919;
    background: #fff;
} */

/* body, div, p, h2{
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-left: 10px;
}

body{
    margin: 0px;
}

output{
    display: flex;
    justify-content: center;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 10px;
    text-decoration: underline rgb(28, 43, 126) 2px;
    margin: 0px;
    margin-left: 20px;
}

#info p {
    margin: 10px;
    margin-right: 0px;
    padding-right: 0px;
    border-right: 0px;
    font-weight: bold;
    font-size: 18px;
} */
